<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partial/navigator-admin') %>
        <div class="container">
           <h1>Edit Stocks</h1>
        <form action="/product/update/<%= data.id %>" method="POST">
            <div class="FormAdd">
                <label for="item"> Item :</label>
                <input type="text" name="item" id="sku" class="input" value="<%= data.item %>">
            </div>
            <div class="FormAdd">
                <label for="quantity">Quantity :</label>
                <input type="number" name="quantity" id="quantity" class="input" value="<%= data.quantity%>">
            </div>
            <div class="FormAdd">
                <label for="price"> Price :</label>
                <input type="number" name="price" id="number" class="input" value="<%= data.price %>">
            </div>
            <div class="FormAdd">
            
               <input type="submit">
    
              
            </div class="FormAdd">
        </form>
    </div>
</body>
</html>